<% provide(:title, @user.name) %>
<%= form_with(model: @users, url: attendances_update_apply_overtime_user_path(), local: true, method: :patch) do |f| %>
<% @users.each do |user| %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title"><%= user.name %>からの残業申請</h1>
    </div>
    <div class="modal-body">
      <div class="row"> 
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>指定勤務終了時間</th>
          <th>時間外時間</th>
          <th>業務処理内容</th>
          <th>指示者確認㊞</th>
          <th>変更</th>
          <th>勤怠を確認する</th>
        </tr>
      </thead>

      <tbody>
        <% user.attendances.each do |day| %>
          <%= f.fields_for "attendances[]", day do |attendance| %>
            <tr>
            <% if params[:id] == "2" %>
              <% if day.confirmation_manager == "上長A" %>
              <td><%= l(day.worked_on, format: :short) %></td>
              <td><%= $days_of_the_week[day.worked_on.wday] %></td>
              <td><%= l(day.scheduled_end_time, format: :time) %></td>
              <td><%= format_basic_info(@user.designated_work_end_time) %></td>
              <td>
                <% if day.scheduled_end_time.present? && day.finished_at.present? %>
                  <% if day.next_day == "0" %>
                  <%= str_times = over_times(day.scheduled_end_time.floor_to(15.minutes), @user.designated_work_end_time.floor_to(15.minutes)) %>
                  <% else %>
                  <%= str_times = next_over_times(day.scheduled_end_time.floor_to(15.minutes), @user.designated_work_end_time.floor_to(15.minutes)) %>
                  <% end %>
                <% @total_over_times = @total_over_times.to_f + str_times.to_f %>
                <% end %>
              </td>
              <td><%= day.business_process %></td>
              <td><%= attendance.select :confirmation,[["なし","なし"],["承認","承認"],["否認","否認"]], class: "form-ccntrol" %></td>
              <td><%= attendance.check_box :change, id: "change"  %></td>
              <td><%= link_to "確認", user_path(date: day.worked_on, id: user.id), class: "btn btn-lg btn-primary" %></td>
              <% end %>
            <% end %>
            <% if params[:id] == "3" %>
              <% if day.confirmation_manager == "上長B" %>
              <td><%= l(day.worked_on, format: :short) %></td>
              <td><%= $days_of_the_week[day.worked_on.wday] %></td>
              <td><%= l(day.scheduled_end_time, format: :time) %></td>
              <td><%= format_basic_info(@user.designated_work_end_time) %></td>
              <td>
                <% if day.scheduled_end_time.present? && day.finished_at.present? %>
                  <% if day.next_day == "0" %>
                  <%= str_times = over_times(day.scheduled_end_time.floor_to(15.minutes), @user.designated_work_end_time.floor_to(15.minutes)) %>
                  <% else %>
                  <%= str_times = next_over_times(day.scheduled_end_time.floor_to(15.minutes), @user.designated_work_end_time.floor_to(15.minutes)) %>
                  <% end %>
                <% @total_over_times = @total_over_times.to_f + str_times.to_f %>
                <% end %>
              </td>
              <td><%= day.business_process %></td>
              <td><%= attendance.select :confirmation,[["なし","なし"],["承認","承認"],["否認","否認"]], class: "form-ccntrol" %></td>
              <td><%= attendance.check_box :change, id: "change"  %></td>
              <td><%= link_to "確認", user_path(date: day.worked_on, id: user.id), class: "btn btn-lg btn-primary" %></td>
              <% end %>
            <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody> 
    </table>
  <% end %>

  <div class="center">
    <%= f.submit "まとめて申請", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

</div>
      </div>
    </div>
  </div>
</div>